.search-form {
  margin-bottom: 25px;
  margin-top: 50px;
  text-align: center;
  border-radius: 4px;
  font-family: "Source Code Pro", monospace;
  color: #515070;
  opacity: 0.6;
}

.Weather {
  border: 1px solid #ff8e6e;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  padding: 16px;
  margin: 20px auto;
  max-width: 700px;
  font-family: monospace;
}

.Weather p {
  text-align: center;
  font-weight: bold;

  color: #515070;
}

.Weather h1 {
  color: #515070;
  text-align: left;
  margin-top: 30px;
  font-size: 30px;
}

.Weather ul {
  text-align: left;
  color: #515070;
  list-style: none;
  font-size: 18px;
}

.Weather temperature {
  font-size: 30px;
}
